# Node / pnpm
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
**/.pnpm-store/
**/.vite/
**/.vite-temp/

# Builds
outil_veille_app/dist/
front_dist/
**/app-dist/

# Envs & secrets
.env
**/.env
**/.env.*.local

# Docker
_trash/
traefik_letsencrypt/
docker-compose.override.yml
*.log
logs/
*.pid
*.seed
*.out
*.err

# DB & vecteurs (on NE commit PAS les données)
outil_veille_api/_db/backup/
va_mysql_data_*/
va_chroma_data_*/
*.sql

# Hugging Face models cache
.cache/
models/

# Données persistantes
bibliotheque_images/
outil_veille_api/prisma/migrations/
!/outil_veille_api/prisma/schema.prisma

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
